@use "../base/mixins" as mixins;

.footer {
  min-height: mixins.rem(80);
  z-index: mixins.z("footer");

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: mixins.rem(5);
  }
}
