@use "../base/mixins" as mixins;
@use "../base/consts" as consts;

.artifacts {
  flex: 1 1 auto;

  .items__list {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .item-list {
    border-radius: 0;

    &:not(:last-child) {
      border-bottom: mixins.rem(1) solid #fff;
    }
  }
}

.artifact {
  &__name {
    @include mixins.adaptiveValue("font-size", 40, 25);
    @include mixins.adaptiveValue("margin-bottom", 40, 25);
  }

  &__subtitle {
    margin-bottom: mixins.rem(20);
    font-size: mixins.rem(25);
  }
}
