@use "../base/mixins" as mixins;
@use "../base/consts" as consts;

.enemies {
  flex: 1 1 auto;

  .items__list {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .item-list {
    border-radius: 0;

    &:not(:last-child) {
      border-bottom: mixins.rem(1) solid #fff;
    }

    &__type {
      opacity: 70%;
    }
  }
}
