@use "../base/mixins" as mixins;
@use "../base/consts" as consts;

.home {
  flex: 1 1 auto;

  &__background {
    position: absolute;
    top: 10vh;
    z-index: -1;
    height: 90vh;
    width: 90vh * 755 / 1298;
    opacity: 70%;

    @include mixins.adaptiveValue("left", 0, -200);
  }

  &__container {
    display: flex;
    justify-content: right;
    align-items: center;

    @media (max-width: consts.$mobile_px + px) {
      justify-content: center;
    }
  }
}

.card-home {
  @include mixins.adaptiveValue("max-width", 600, 300);
  @include mixins.adaptiveValue("margin-bottom", 150, 50);
  @include mixins.adaptiveValue("margin-right", 50, 20);
  @include mixins.adaptiveValue("padding", 50, 20);
  display: flex;
  flex-direction: column;
  border-radius: mixins.rem(20);
  box-shadow:
    rgba(0, 0, 0, 0.25) 0 mixins.rem(54) mixins.rem(55),
    rgba(0, 0, 0, 0.12) 0 mixins.rem(-12) mixins.rem(30),
    rgba(0, 0, 0, 0.12) 0 mixins.rem(4) mixins.rem(6),
    rgba(0, 0, 0, 0.17) 0 mixins.rem(12) mixins.rem(13),
    rgba(0, 0, 0, 0.09) 0 mixins.rem(-3) mixins.rem(5);

  @media (max-width: consts.$mobile_px + px) {
    box-shadow: none;
    margin-right: 0;
  }

  &__title {
    @include mixins.adaptiveValue("font-size", 50, 30);
    @include mixins.adaptiveValue("margin-bottom", 50, 30);
  }

  &__description {
    @include mixins.adaptiveValue("font-size", 20, 15);
    @include mixins.adaptiveValue("margin-bottom", 50, 30);
    opacity: 75%;
  }

  &__btn {
    background-color: #0897ab;
    width: fit-content;
    padding: mixins.rem(15);
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #077d8d;
    }
  }
}
